body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    color: rgb(7, 7, 7);
    background-image: url(WhatsApp\ Image\ 2024-08-14\ at\ 12.47.59.jpeg);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100VH;
    text-align: center;
    margin: 0;
    

}

header{
    
    align-items: center;
    padding: 10px 60px;
    justify-content: space-between;
}

a {
    
    font-size: 45px;
}



main{
    padding: 10px 60px;
    flex-direction: column;
    gap: 15px;
    
    
}



main-important-text{
    font-size: x-large;
}
h1{
    font-size: 120px;
    margin-top: 60px;
    margin-top: 60px;
    text-align: center;
}

p{
    font-size: 40px;
    margin-top: 20px;
}

main-&.aclaraciones{
font-style: italic;
}



.bold{
    font-weight: 650;
    color: antiquewhite;
}

boton-int{
    background-color: ;
}

nav{
    font-size: 45px;
    margin-top: 24px;
    
}

button {
    cursor: pointer;
    font-size: xx-large;
}


label{
    
    font-weight: bold;
    font-size: 67px;
}

input{
    size: 60px;
}


.boton-borde {
    display: inline-block; /* Cambia el comportamiento del botón para ajustarse al contenido */
    padding: 10px 20px; /* Ajusta el padding del botón */
    border: 1px solid #fc2525; /* Color del borde */
    color: #f75959; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 40px; /* Tamaño de la fuente */
    margin: 20px 0; /* Espacio alrededor del botón (opcional) */
    text-align: center;
}

.boton-borde:hover {
    background-color: #e66787; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al pasar el ratón */
}